In [5]:
import pandas as pd

In [7]:
pd.__version__

'0.20.3'

In [18]:
file_path = '../../datasets/basic/olympics.csv'
oo = pd.read_csv(file_path, skiprows=4)

In [19]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [33]:
oo[["City", "Edition", "Athlete"]]

          City  Edition                      Athlete
0       Athens     1896                HAJOS, Alfred
1       Athens     1896             HERSCHMANN, Otto
2       Athens     1896            DRIVAS, Dimitrios
3       Athens     1896           MALOKINIS, Ioannis
4       Athens     1896           CHASAPIS, Spiridon
5       Athens     1896        CHOROPHAS, Efstathios
6       Athens     1896                HAJOS, Alfred
7       Athens     1896             ANDREOU, Joannis
8       Athens     1896        CHOROPHAS, Efstathios
9       Athens     1896                NEUMANN, Paul
10      Athens     1896            PEPANOS, Antonios
11      Athens     1896                LANE, Francis
12      Athens     1896             SZOKOLYI, Alajos
13      Athens     1896                BURKE, Thomas
14      Athens     1896               HOFMANN, Fritz
15      Athens     1896               CURTIS, Thomas
16      Athens     1896           GOULDING, Grantley
17      Athens     1896            LERMUSIAUX, Albin
18      Athens     1896                 FLACK, Edwin
19      Athens     1896                BLAKE, Arthur
20      Athens     1896              GMELIN, Charles
21      Athens     1896                BURKE, Thomas
22      Athens     1896             JAMISON, Herbert
23      Athens     1896           GOLEMIS, Dimitrios
24      Athens     1896                 FLACK, Edwin
25      Athens     1896                 DANI, Nandor
26      Athens     1896             VERSIS, Sotirios
27      Athens     1896              GARRETT, Robert
28      Athens     1896  PARASKEVOPOULOS, Panagiotis
29      Athens     1896                CLARK, Ellery
...        ...      ...                          ...
29186  Beijing     2008             MUTALIMOV, Marid
29187  Beijing     2008              TAYMAZOV, Artur
29188  Beijing     2008          AKHMEDOV, Bakhtiyar
29189  Beijing     2008                AMOYAN, Roman
29190  Beijing     2008               PARK, Eun-Chul
29191  Beijing     2008               MANKIEV, Nazyr
29192  Beijing     2008            BAYRAMOV, Rovshan
29193  Beijing     2008        TENGIZBAYEV, Nurbakyt
29194  Beijing     2008           TIUMENBAEV, Ruslan
29195  Beijing     2008           ALBIEV, Islam-Beka
29196  Beijing     2008             RAHIMOV, Vitaliy
29197  Beijing     2008           SIAMIONAU, Mikhail
29198  Beijing     2008             VARDANYAN, Armen
29199  Beijing     2008               GUENOT, Steeve
29200  Beijing     2008           BEGALIEV, Kanatbek
29201  Beijing     2008           GUENOT, Christophe
29202  Beijing     2008              YANAKIEV, Yavor
29203  Beijing     2008          KVIRKELIA, Manuchar
29204  Beijing     2008             CHANG, Yongxiang
29205  Beijing     2008                AVLUCA, Nazmi
29206  Beijing     2008             MINGUZZI, Andrea
29207  Beijing     2008                FODOR, Zoltan
29208  Beijing     2008              MAMBETOV, Asset
29209  Beijing     2008                WHEELER, Adam
29210  Beijing     2008           KHUSHTOV, Aslanbek
29211  Beijing     2008               ENGLICH, Mirko
29212  Beijing     2008         MIZGAITIS, Mindaugas
29213  Beijing     2008              PATRIKEEV, Yuri
29214  Beijing     2008                LOPEZ, Mijain
29215  Beijing     2008               BAROEV, Khasan

[29216 rows x 3 columns]

In [34]:
type(oo)

pandas.core.frame.DataFrame

In [36]:
type(oo["City"])

pandas.core.series.Series

In [37]:
type(oo[["City", "Edition", "Athlete"]])

pandas.core.frame.DataFrame

In [39]:
oo["NOC"]

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [40]:
oo.NOC

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [42]:
type(oo["NOC"])

pandas.core.series.Series